* {
  margin: 0;
  padding: 0;
}

body {
  background: #eee;
  color: black;
  font: 16px/24px "Lucida Grande", "Trebuchet MS", sans-serif;
}

p {
  margin-bottom: 12px;
}

h2 {
  font: 24px/24px Georgia, serif;
  font-style: italic;
  font-weight: normal;
  margin-bottom: 12px;
}

ul, ol {
  list-style: none;
}

input {
  font-size: 1em;
}

#header {
  background: rgba(0, 0, 0, .75);
  border-bottom: 1px solid #fff;
  color: #eee;
  left: 0;
  padding: 12px;
  padding-left: 24px;
  position: fixed;
  top: 0;
  width: 100%;
}

#header h1 {
  color: #333;
  font-size: 24px;
  right: 24px;
  position: fixed;
  text-shadow: 0 1px 0 #555;
  top: 12px;
  z-index: 1;
}

#header form {
  font-size: 12px;
  position: relative;
  z-index: 2;
}

#header form * {
  display: inline;
}

#header form dl,
#header form p {
  margin-right: 24px;
}

#header form dl dt {
  font: italic 14px/24px Georgia, serif;
  margin-right: 4px;
  text-transform: lowercase;
}

#header form input[type="text"],
#header form input[type="submit"] {
  border: 0;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  padding: 6px;
}

#header form input[type="text"] {
  line-height: 1;
  vertical-align: top;
  width: 240px;
}

#header form input[type="submit"] {
  background: #9bc;
  border: 1px solid #bcd;
  border-bottom-color: #789;
  border-top-color: #def;
  cursor: pointer;
  font-weight: bold;
  padding: 4px 12px;
}

#header form input[type="submit"]:active,
#header form.loading input[type="submit"] {
  background: #8ab;
  border-bottom-color: #bcd;
  border-top-color: #567;
}

#content {
  margin-top: 48px;
  padding: 48px;
  position: relative;
}

#errors {
  background: #900;
  border-radius: 0 12px 12px 0;
  -moz-border-radius: 0 12px 12px 0;
  -webkit-border-radius: 0 12px 12px 0;
  color: #fff;
  left: 0;
  padding: 24px;
  position: absolute;
}